<!-- <div id="chat_messages" hx-swap-oob="befroreend"> -->
<div id="chat_messages" hx-swap-oob="beforeend">

<div class="fade-in-up">
    {% include 'a_qnect/chat_message.html' %}
</div>

<style>
    .fade-in-up {
        animation: fadeInUp 0.5s ease;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
     /* @keyframes fadeInAndUp{
        from {opacity: 0; transform: translateY(12px);}
        to {opacity: 1; transform: translateY(0);}
     }
     .fade-in-up {
        animation: fadeInAndUp 0.5s ease;
     } */
</style>

<script>scrollToBottom(100)</script>

</div>

